<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEVA</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="img/me.png" alt="">
        </div>
        <p class="text">
            Меня зовут Лев. Являюсь студентом группы ИП-93. Третий курс.
            Увлекаюсь музыкой, в частности, играю на инструментах.
            Активно занимаюсь спортом.
        </p>
    </div>
</body>
</html>