<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miroso</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
<div class="container">
    <div class="image">
        <img src="./images/not_me.jpg" alt="">
    </div>
    <p class="text">
        Меня зовут Ваня. Учусь на 3-м курсе в группе ИП-93.
        Программирую на Java еще с 12 лет, теперь хочу увидеть,
        в каких сферах он применяется.
    </p>
</div>
</body>
</html>