<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of lost items</title>
</head>
<body>
<a href="/addThing"><button>Add new thing</button></a>
<form action="/list">
    Search:
    <label>
        <input name="keywords" id="keywords">
    </label>
    <button>Ok</button>
</form>
<table>
    <thead>
    <tr>
        <th> Lost things</th>
        <th> Keywords </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="thing : ${things}">
        <td>
            <a th:href="@{'/thing/'+${thing.id.toString()}}" th:text="${thing.name}"></a>
        </td>
        <td>
            <span th:each="key : ${thing.keywords}">
                <span th:text="${key.word}"></span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>